<h1>{{file.name}}</h1>

    {% if not sectionList %}

        <p>No sections</p>

    {% endif %}

    {%for section in sectionList %}

        <div class="tooltip {{ section.1 }} section">
            <button type="button" class="collapsible"><p>{{ section.2 }} - {{ section.1 }}</p></button>
            <div class="section_content">
                <pre>{{ section.0 }}</pre>
            </div>
            <span class="tooltiptext">{{ section.2 }}</span>
        </div>
        <p>------------------------------------------------------------</p>

    {%endfor%}

    <script>
    let coll = document.getElementsByClassName("collapsible");
    let i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        let content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
    </script>
