{%  load static %}

<link rel="stylesheet" type="text/css" href="{% static 'aplikacja/projekt_1.css' %}">


<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
	<title>Aplikacja</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<div class="main">

    	<div class="menu">
        	<button class="menuButton">
                <a href="../../add_dir/">Add directory</a>
            </button>
            <button class="menuButton">
                <a href="../../add_file/">Add file</a>
            </button>
            <button class="menuButton">
                <a href="../../delete_dir/">Delete directory</a>
            </button>
            <button class="menuButton">
                <a href="../../delete_file/">Delete file</a>
            </button>
            {% if file %}
                <button class="menuButton">
                    <a href="../../rerun_frama/{{ file.name }}/">Rerun verification</a>
                </button>
            {% endif %}
            <button class="menuButton">
                <a href="login/">Login</a>
            </button>

    	</div>

    	<div class="fileselection pole_docelowe">
            {% include 'aplikacja/fileselection.html' %}
    	</div>

		<div class="reszta">

			<div class="textfield pole_docelowe">
        		{% include 'aplikacja/textfield.html' %}
	    	</div>

			<div class="focus pole_docelowe">
                {% include 'aplikacja/focus.html' %}
            </div>

		</div>

		<div class="tab-wszystko">

			<div class="tab">
	  			<button class="trapezoid" onclick="openTab(event, 'tab1')">PROVERS</button>
  				<button class="trapezoid" onclick="openTab(event, 'tab2')">VCs</button>
  				<button class="trapezoid" onclick="openTab(event, 'tab3')">RESULT</button>
			</div>

			<div id="tab1" class="tabcontent">
                <form action="../../change_prover/{{ file.name }}/" method="POST">
                    {% csrf_token %}
                    {{ proverForm }}
                    <input type="submit" id="prover-submit"/>
                </form>
			</div>

			<div id="tab2" class="tabcontent">
                <form action="../../change_VC/{{ file.name }}/" method="POST">
                    {% csrf_token %}
                    {{ VCForm }}
                    <input type="submit" id="VC-submit"/>
                </form>
			</div>

			<div id="tab3" class="tabcontent">
	  			<p>{{ summary|safe }}</p>
			</div>


		</div>


		<script>
			function openTab(evt, tabNumber) {
  				var i, tabcontent, tablinks;
  				tabcontent = document.getElementsByClassName("tabcontent");
  				for (i = 0; i < tabcontent.length; i++) {
			    	tabcontent[i].style.display = "none";
	  			}
	  			tablinks = document.getElementsByClassName("trapezoid");
	  			for (i = 0; i < tablinks.length; i++) {
				    tablinks[i].className = tablinks[i].className.replace(" active", "");
  				}
  				document.getElementById(tabNumber).style.display = "block";
  				evt.currentTarget.className += " active";
			}
		</script>

	</div>

</body>
</html>
