<li>
    {{directory.name}}
        <ul>
            {%for file in file_list %}
                {% if file.parent == directory %}
                    <li>
                        <a href="../../../aplikacja/detail/{{ file.name }}/">{{ file.name }}</a>
                    </li>
                {% endif %}
            {%endfor%}
        </ul>
    <ul>
     {%for ch in directory_list %}
         {% if ch.parent == directory %}
          {%with directory=ch template_name="aplikacja/tree_view_template.html" %}
               {%include template_name%}
          {%endwith%}
         {% endif %}
     {%endfor%}
     </ul>
</li>